<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
    
    <title>Boolfix</title>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">

        <div class="app-wrapper">
            <!-- HEADER -->
            <header>
                <h1>BoolFix</h1>
                
                <div class="research">
                    <button @click='confirmSearch'>Search</button>
                    <label for="search-bar"></label>
                    <input @keyup='confirmSearch' v-model='userInput' id="search-bar" type="text" placeholder="Ricerca titolo, artista..." >
                </div>
            </header>
            <!-- end HEADER -->

            <!-- MAIN -->
            <main class="cards-section">
                <!-- container and cards for movies  -->
                <div class="cards-container">
                    <div class="single-card" v-for='movie in movies'>
                        <div class="cover-img">
                            <img class="poster-net" v-if="movie.poster_path == null" src="img/posternetflix.jpg" alt="">
                            <img v-else :src="'https://image.tmdb.org/t/p/w342/'+ movie.poster_path" alt="">
                        </div>
                    
                        <div class="credits hidden">
                            <div class="title">Titolo: {{movie.title}}</div>
                            <div class="original-title">Titolo Originale: {{movie.original_title}}</div>
                            <div class="lenguage">Lingua:<span class="flag"> <img :src=' " img/" + movie.original_language + ".svg" ' alt=""></span>{{movie.original_language}}</div>
                            <div  class="vote">
                                <span v-if='movie.vote_average == 0 '> No vote available</span>
                                Vote:  <i v-else v-for="vote in voteInStar(movie.vote_average)" class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End container and cards for movies  -->
                <!-- container and cards for tv shows  -->
                <div class="cards-container">
                    <div class="single-card" v-for='show in tvShows'>
                        <div class="cover-img">
                            <img class="poster-net" v-if="show.poster_path == null" src="img/posternetflix.jpg" alt="">
                            <img v-else :src="'https://image.tmdb.org/t/p/w342/'+ show.poster_path" alt="">
                        </div>
                    
                        <div class="credits hidden">
                            <div class="title">Titolo: {{show.name}}</div>
                            <div class="original-title">Titolo Originale: {{show.original_title}}</div>
                            <div class="lenguage">Lingua:<span class="flag"> <img :src=' " img/" + show.original_language + ".svg" ' alt=""></span>{{show.original_language}}</div>
                            <div  class="vote">
                                <span v-if='show.vote_average == 0 '> No vote available</span>
                            Vote:  <i v-else v-for="vote in voteInStar(show.vote_average)" class="fas fa-star"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End container and cards for tv shows  -->


            </main>
            <!--END MAIN -->






        </div>

    </div>
    <script src="js/script.js"></script>
</body>
</html>